# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Env files
.env
backend/.env
frontend/.env

# Node
node_modules/
frontend/dist/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Test cache
.pytest_cache/
